$title: #243f4d;
$menu: #436372;
$nav: #fcd7b6;
$btn: #a3bbc8;
$search: #edf1f4;
$ft: #7b7b7b;

%Rubik-500 {
  font-family: 'RubikMedium', sans-serif;
  font-weight: 500;
}

%Rubik-400 {
  font-family: 'RubikRegular', sans-serif;
  font-weight: 400;
}

%DMSans-700 {
  font-family: 'DMSansBold', sans-serif;
  font-weight: 700;
}

%DMSans-400 {
  font-family: 'DMSansRegular', sans-serif;
  font-weight: 400;
}

%MyriadPro-400 {
  font-family: 'MyriadProRegular', sans-serif;
  font-weight: 400;
}


%Rubik-bold{
  font-family: 'Rubik',
  sans-serif;
   font-weight: 900;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}