$title: #243f4d;
$menu: #436372;
$nav: #fcd7b6;
$btn: #a3bbc8;
$search: #edf1f4;
$radius: border-radius('50%');

%Rubik-500 {
  font-family: 'RubikMedium', sans-serif;
  font-weight: 500;
}

%Rubik-400 {
  font-family: 'RubikRegular', sans-serif;
  font-weight: 400;
}

%DMSans-700 {
  font-family: 'DMSansBold', sans-serif;
  font-weight: 700;
}

%DMSans-400 {
  font-family: 'DMSansRegular', sans-serif;
  font-weight: 400;
}

// %MyriadPro-400 {
//   font-family: 'MyriadProRegular', sans-serif;
//   font-weight: 400;
// }